@use './../abstracts/' as *;

.contact {
  height: 265px;
  background-color: #8fc0a9;
  width: 97%;
  margin: 0 auto;
  border-radius: 15px;
  padding-bottom: 20px;
  clear: both;
  text-align: center;
}

.contact h1 {
  text-align: center;
  padding-top: 10px;
  color: white;
}

.contact h3 {
  text-align: center;
  color: white;
}

.contact h4 {
  color: white;
  text-align: center;
}

.contact-box {
  border-radius: 15px;
  display: inline-block;
  width: 22.6%;
  text-align: center;
  background-color: #c8d5b9;
  margin: 10px 10px 10px 10px;
}

.contact-box h3 {
  color: white;
  padding-top: 10px;
}
.contact-box p {
  color: white;
}
