@use './../abstracts/' as *;

@media (max-width: 576px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    width: 93%;
    margin: 10px auto;
    height: 265px;
  }

  .detail {
    background-color: #8fc0a9;
    border-radius: 15px;
    height: 220px;
    margin-top: 10px;
    margin-bottom: 30px;

    margin: 10px 2% 10px 2%;
    /* background-image: url('./img/detail1.png'); */
  }

  .detail-inner {
    background-color: rgba(143, 192, 169, 0.7);
    border-radius: 15px;
    height: 180px;
    padding-top: 25px;
    margin: 4% 4%;
    float: left;
  }

  .detail h3 {
    font-family: 'Roboto';
    font-weight: 700;
    color: white;
    font-size: 24px;
    text-align: center;
  }

  .detail p {
    width: 80%;
    color: white;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
  }
}

@media (min-width: 576px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    width: 93%;
    margin: 10px auto;
    height: 265px;
  }

  .detail {
    background-color: #8fc0a9;
    border-radius: 15px;
    height: 220px;
    margin-top: 10px;
    margin-bottom: 30px;

    margin: 10px 2% 10px 2%;
    /* background-image: url('./img/detail1.png'); */
  }

  .detail-inner {
    background-color: rgba(143, 192, 169, 0.7);
    border-radius: 15px;
    height: 180px;
    padding-top: 25px;
    margin: 4% 4%;
    float: left;
  }

  .detail h3 {
    font-family: 'Roboto';
    font-weight: 700;
    color: white;
    font-size: 24px;
    text-align: center;
  }

  .detail p {
    width: 80%;
    color: white;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    width: 93%;
    margin: 10px auto;
    height: 265px;
  }

  .detail {
    background-color: #8fc0a9;
    border-radius: 15px;
    height: 280px;
    margin-top: 10px;
    margin-bottom: 30px;

    margin: 10px 2% 10px 2%;
    /* background-image: url('./img/detail1.png'); */
  }

  .detail-inner {
    background-color: rgba(143, 192, 169, 0.7);
    border-radius: 15px;
    height: 263px;
    padding-top: 25px;
    margin: 4% 4%;
    float: left;
  }

  .detail h3 {
    font-family: 'Roboto';
    font-weight: 700;
    color: white;
    font-size: 24px;
    text-align: center;
  }

  .detail p {
    width: 80%;
    color: white;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    width: 93%;
    margin: 10px auto;
    height: 265px;
  }

  .detail {
    background-color: #8fc0a9;
    border-radius: 15px;
    height: 220px;
    margin-top: 10px;
    margin-bottom: 30px;

    margin: 10px 2% 10px 2%;
    /* background-image: url('./img/detail1.png'); */
  }

  .detail-inner {
    background-color: rgba(143, 192, 169, 0.7);
    border-radius: 15px;
    height: 197px;
    padding-top: 25px;
    margin: 4% 4%;
    float: left;
  }

  .detail h3 {
    font-family: 'Roboto';
    font-weight: 700;
    color: white;
    font-size: 24px;
    text-align: center;
  }

  .detail p {
    width: 80%;
    color: white;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    width: 93%;
    margin: 10px auto;
    height: 265px;
  }

  .detail {
    background-color: #8fc0a9;
    border-radius: 15px;
    height: 220px;
    margin-top: 10px;
    margin-bottom: 30px;

    margin: 10px 2% 10px 2%;
    /* background-image: url('./img/detail1.png'); */
  }

  .detail-inner {
    background-color: rgba(143, 192, 169, 0.7);
    border-radius: 15px;
    height: 190px;
    padding-top: 25px;
    margin: 4% 4%;
    float: left;
  }

  .detail h3 {
    font-family: 'Roboto';
    font-weight: 700;
    color: white;
    font-size: 24px;
    text-align: center;
  }

  .detail p {
    width: 80%;
    color: white;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
  }
}
